    GLOBAL_SETTINGS
    LAB_MASTER_SEED stego-video-exchangekey_student_master_seed
    REGISTRY tuyenlv218
NETWORK NWT
     MASK 172.0.0.0/24
     GATEWAY 172.0.0.1
CONTAINER sender
     USER ubuntu
     X11 YES
     NWT 172.0.0.2
     LAB_GATEWAY 172.0.0.1
CONTAINER receiver
     USER ubuntu
     X11 YES
     NWT 172.0.0.3
     LAB_GATEWAY 172.0.0.1
